<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <h3 class="text-center">Account Login</h3>
            <form action="/users/register" method="POST">
                <div class="input-field col s6">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" value="{{firstName}}" required>
                </div>
                <div class="input-field col s6">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" value="{{lastName}}" required>
                </div>
                <div class="input-field col s12">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" value="{{email}}" required>
                </div>
                <div class="input-field col s12">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" value="{{password}}" required>
                </div>
                <div class="input-field col s12">
                    <label for="password2">Confirm Password</label>
                    <input type="password" class="form-control" name="password2" value="{{password2}}" required>
                </div>
                <div class="input-field col s12">
                    <select name="status">
                        <option style="display:none">
                        <option value="Teacher">Teacher</option>
                        <option value="Student">Student</option>
                        <option value="Guest">Guest</option>
                    </select>
                    <label for="status">Status</label>
                </div>
                {{!-- <div class="file-field input-field col s12">
                    <div class="btn">
                        <span>File</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload Image">
                    </div>
                </div> --}}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>